*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tabuleiro-xadrez {
    display:grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    border: 3px solid red;
}

.clara{
    background-color: aliceblue;
}
.escuro{
    background-color: black;
}